<noscript>
  <div class="welcome">
    <div id="header">
      <h1>SproutCore with Rails</h1>
    </div>
    
    <div id="sidebar">
      <div class="logo"></div>
    </div>
    
    <div id="content">
      <p>
        A case study for integrating SproutCore 2.0 with Rails 3.1
      </p>
      <%= form_tag do %>
        <ul class="form">
          <li class="field"><%= label_tag(:login, "Login") %> <%= text_field_tag(:login) %></li>
          <li class="field"><%= label_tag(:password, "Password") %> <%= password_field_tag(:password) %></li>
          <li class="field"><%= submit_tag "Log me in", :id => :log_me_in, :class => :button %></li>
        </ul>
      <% end %>
    </div>
    
    <div id="footer">
      <span>This is the footer.</span>
    </div>
  </div>
</noscript>
