<noscript>
  <div class="welcome">
    <div id="header">
      <h1>This is the Header</h1>
    </div>
    
    <div id="sidebar">
      <ul>
        <li>
          <a href='#'>Nav #1</a>
        </li>
        <li>
          <a href='#'>Nav #2</a>
        </li>
        <li>
          <a href='#'>Nav #3</a>
        </li>
      </ul>
    </div>
    
    <div id="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </p>
      <div class="form">
        <%= form_tag do %>
          <div class="field">
            <%= label_tag(:login, "Login:") %>
            <%= text_field_tag(:login) %>
          </div>
          <div class="field">
            <%= label_tag(:password, "Password:") %>
            <%= password_field_tag(:password) %>
          </div>
          <div class="field">
            <%= submit_tag "Log me in", :id => :log_me_in %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div id="footer">
      <p>This is the footer.</p>
    </div>
  </div>
</noscript>
