<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "handlebars/welcome" %>
  <%= javascript_include_tag "/javascripts/welcome.js" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
